Fluxo nodeRed - Home.json
[
    {
        "id": "tab_homeoffice",
        "type": "tab",
        "label": "Monitoramento Home Office",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_in_mesa01",
        "type": "mqtt in",
        "z": "tab_homeoffice",
        "name": "Recebe ESP32",
        "topic": "homeoffice/mesa01",
        "qos": "2",
        "datatype": "json",
        "broker": "047f5337e98a0830",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "json_parser"
            ]
        ]
    },
    {
        "id": "json_parser",
        "type": "json",
        "z": "tab_homeoffice",
        "name": "Converter JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "split_temp",
                "split_hum",
                "split_luz",
                "split_status",
                "func_alerta"
            ]
        ]
    },
    {
        "id": "split_temp",
        "type": "change",
        "z": "tab_homeoffice",
        "name": "Extrair Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "gauge_temp"
            ]
        ]
    },
    {
        "id": "split_hum",
        "type": "change",
        "z": "tab_homeoffice",
        "name": "Extrair Hum",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hum",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "gauge_hum"
            ]
        ]
    },
    {
        "id": "split_luz",
        "type": "change",
        "z": "tab_homeoffice",
        "name": "Extrair Luz",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.luz_nat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "gauge_luz"
            ]
        ]
    },
    {
        "id": "split_status",
        "type": "change",
        "z": "tab_homeoffice",
        "name": "Extrair Status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "text_status"
            ]
        ]
    },
    {
        "id": "func_alerta",
        "type": "function",
        "z": "tab_homeoffice",
        "name": "Tratar Alerta",
        "func": "// Pegamos a temperatura bruta que chegou no JSON\nvar temperatura = msg.payload.temp;\n\n// Criamos nossa própria regra aqui no Node-RED (ex: > 29)\nif (temperatura > 29) {\n    msg.payload = \"PERIGO: CALOR (\" + temperatura + \"°C)\";\n    msg.color = \"red\";\n} else {\n    msg.payload = \"Ambiente Seguro\";\n    msg.color = \"green\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 320,
        "wires": [
            [
                "text_alerta"
            ]
        ]
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "tab_homeoffice",
        "name": "Temperatura",
        "group": "grp_sensores",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "30",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "gauge_hum",
        "type": "ui_gauge",
        "z": "tab_homeoffice",
        "name": "Umidade",
        "group": "grp_sensores",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0080ff",
            "#0062c4",
            "#002851"
        ],
        "seg1": "",
        "seg2": "",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "gauge_luz",
        "type": "ui_gauge",
        "z": "tab_homeoffice",
        "name": "Luz Natural",
        "group": "grp_sensores",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Luz Natural",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#404040",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "text_status",
        "type": "ui_text",
        "z": "tab_homeoffice",
        "group": "grp_status",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status Ocupação",
        "label": "Mesa:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "text_alerta",
        "type": "ui_text",
        "z": "tab_homeoffice",
        "group": "grp_status",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Aviso de Alerta",
        "label": "Condição:",
        "format": "<font color='{{msg.color}}'><b>{{msg.payload}}</b></font>",
        "layout": "row-spread",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "047f5337e98a0830",
        "type": "mqtt-broker",
        "name": "Broker - Demetrius (GS)",
        "broker": "44.223.43.74",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp_sensores",
        "type": "ui_group",
        "name": "Sensores Ambientais",
        "tab": "tab_dash_home",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "grp_status",
        "type": "ui_group",
        "name": "Status & Segurança",
        "tab": "tab_dash_home",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab_dash_home",
        "type": "ui_tab",
        "name": "Home Office",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b78cecb5e352771d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]